<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>
</head>

<body style='margin: 0'>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>
    // Initialize the platform object:
    var platform = new H.service.Platform({
        'apikey': '{{ apikey }}'
    });

    const mapCenterLatitude = {{ mapCenterLatitude }};
    const mapCenterLongitude = {{ mapCenterLongitude }};
    const markers = {{ markers }};
    var comments = '{{ markerComments }}'.replaceAll('&#39;', '').replaceAll(', ', '');
    comments = comments.substring(2, comments.length-2).split('][')

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();

    // Initialize a map:
    var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.raster.terrain.map,
        {
            zoom: 10,
            center: {lat: mapCenterLatitude, lng: mapCenterLongitude}
        });

    var mapEvents = new H.mapevents.MapEvents(map);
    var behavior = new H.mapevents.Behavior(mapEvents);

    //window.addEventListener('resize',()=> get.ViewProt().resize())

    //markers.forEach((latitude, longitude) => console.log(lat, long))

    for(index in markers) {
        var marker = new H.map.Marker({ lat: markers[index][0], lng: markers[index][1] });
        map.addObject(marker);

//        marker.addEventListener('tap', function (evt) {
//            // Create an info bubble object at a specific geographic location:
//            var bubble = new H.ui.InfoBubble({ lat: markers[index][0], lng: markers[index][1]}, {
//                content: '<p> <h4>Address</h4>' + comments[index] + '</p>'
//            });
//
//            // Add info bubble to the UI:
//            ui.addBubble(bubble);
//        });
    }

    // Create an info bubble object at a specific geographic location:


</script>
</body>
</html>