# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../flaskProject\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\kerusey\Documents\GitHub\flaskProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
